{% load staticfiles %}
<html>
<head>
  <meta />
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' $">
  <title>Blog w/Django</title>
</head>
<body>
  <div class="page-header">
    <h1>
      <a href="{% url 'blog.views.post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
      Blog
    </h1>

  </div>
  <div class="content container">
    <div class="row">
      <div class="col-sm-8">
        <!-- Cuerpo ------>
        {% block content %}
        {% endblock %}<!-- Fin cuerpo ---->
      </div>
      <div class="col-sm-1"><!-- espacio --></div>
      <div class="col-sm-2">
        <!-- Barra lateral derecha --->
        <!-- FIN Barra lateral derecha --->
      </div>
      <div class="col-sm-1"><!-- espacio --></div>
    </div>

  </div>
  <div id="bottom"></div>
</body>
</html>
